.content-area {
    height: 600px;

    background: lightblue;
}

.content-area__wrapper {
    width: 100%;
    height: 100%;
}

.content-area__menu {
    background: grey;
}

.content-area__menu__list {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
}

.content-area__menu__list__element {
    width: 80px;
    height: 20px;
    padding: 0;
    margin: 0 10px 0 0;

    text-align: center;
    background: white;
}

.content-area__materials {
    height: calc(100% - 40px);
}

.content-area__materials__list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.content-area__materials__list__element {
    margin: 0 0 20px 0;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    overflow: auto;
}

.mv-material__content--video.drag--clone {
    opacity: 0.5;
}

.mv-material {
    background: lightgray;
}

.mv-material__content {
    /*position: absolute;*/
    z-index: 999999;
}

.mv-material__content--video {
    width: 192px;
    height: 108px;
    margin: 20px;

    background: black;

    text-align: center;
    color: white;
}

.mv-material__attributes {
    height: 40px;
}