.content-area {
    height: 50vh;
    background: lightblue;
}

.content-area__wrapper {
    width: 100%;
    height: 100%;
}

.content-area__menu {
    background: grey;
}

.content-area__menu-wrapper {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

content-area__menu--left {

}

.content-area__menu__list__element {
    width: 80px;
    height: 20px;
    padding: 5px 10px;
    margin: 0 10px 0 0;

    text-align: center;
    background: white;
}

.content-area__menu__list__element#url__input__field {
    width: 200px;
    height: 26px;
}

.content-area__materials {
    height: calc(100% - 40px);
}

.content-area__materials__list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.content-area__materials__list__element {
    margin: 0 0 20px 0;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    overflow: auto;
}

.mv-material__content--video.drag--clone {
    opacity: 0.5;
    background: red;
}

.mv-material {
    background: lightgray;
}

.mv-material__content {
    /*position: absolute;*/
    z-index: 0;
}

.mv-material__content--video {
    width: 192px;
    height: 108px;
    margin: 20px;

    position: relative;

    background: black;

    text-align: center;
    color: white;
}

.material_type_indicator {
    width: 40px;
    height: 40px;
}

.mv-material__content--video input {
    color: black;
}

.mv-material__attributes {
    height: 40px;
}

.media-thumbnail {
    width: 192px;
    height: 108px;
    display: inline-block;
    z-index: -1000;

    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}

.content-area__menu-button {
    height: 100%;
}

.content-trash {
    width: 50px;
    height: 50px;

    position: absolute;
    right: 0;
    bottom: 0;

    background: red;
    color: white;
}

.load-file__wrapper {
    width: 100px;
    height: 100%;
    display: inline-block;
}

input.load-file__input{
    width: 0;
    height: 0;
    display: inline-block;
    visibility: hidden;
}