.preview-area {
    height: 50vh;
    background: #222222;
}

.preview_player {
    margin: auto;
    padding: 10px;
    width: 70%;
}

.preview_player table {
    margin: auto;
}

.preview_player table td{
    padding: 2px;
}

#active_media {
    position: relative;
    background-color: black !important;
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
}

#active_media video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#active_media img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#preview_range_slider {
    height: 10px;

    position: relative;
    top: 10px;
    z-index: 1;
}
#preview_range_slider.noUi-horizontal .noUi-handle {
    right: -10px;
    left: auto;
    top: -10px;
    width: 0;
    height: 0;
    background: transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ff8800;
    box-shadow: none;
    border-bottom: none;
}

#preview_range_slider.noUi-horizontal .noUi-handle:focus {
    outline-color: transparent;
}

.noUi-handle:after, .noUi-handle:before {
    height: 7px;
    background: black;
    content: none;
}

.noUi-horizontal .noUi-tooltip {
    bottom: 15px;
}

.noUi-tooltip {
    display: none;
}

.noUi-active .noUi-tooltip {
    display: block;
}

#time_display {
    color: #ffffff;

    font-weight: bold;
}

.preview-player__loop {
    color: #555555;
}

.preview-player__loop--active {
    color: #ffffff;
}

#loop_button {
    visibility: hidden;
}


input[type=range]#position_slider {
    width: 100%;
    margin: 0 0 20px 0;
    -webkit-appearance: none;
    position: relative;
    z-index: 5;
}

input[type=range]#position_slider:focus {
    outline: none;
}

/* webkit range slider (chrome, opera etc.) */

input[type=range]#position_slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 2px;
    border: 0.2px solid #010101;
}

input[type=range]#position_slider::-webkit-slider-thumb{
    height: 10px;
    width: 2px;
    background: #ff8800;
    cursor: pointer;
    -webkit-appearance: none;
    /*margin-top: -14px;*/
}

input[type=range]#position_slider:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}


/* firefox range slider */

input[type=range]#position_slider::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: #3071a9;
    border-radius: 2px;
}

input[type=range]#position_slider::-moz-range-thumb {
    height: 10px;
    width: 16px;
    background: #ff8800;
    cursor: pointer;
}