.timeline-area {
    height: 35vh;
    background: lightgreen;
}

#timelineDropArea {
    position: relative;
}

.timeline-area__menu__list__element {
    width: 80px;
    height: 20px;
    padding: 5px 10px;
    margin: 0 10px 0 0;

    text-align: center;
    background: white;
}

.timeline-area__menu-button {
    height: 100%;
}

.dropable {
    height: 100px;
    overflow-x: scroll;
    background: black;
}

.timeline-object__wrap {
    height: 80px;

    position: relative;
    background: grey;
    padding: 10px 0;
}

.timeline-object__chunk {
    display: inline-block;
    position: absolute;
}

.timeline-object__chunk-content {
    width: 100px;
    height: 50px;

    display: inline-block;
    pointer-events: none;
    position: relative;

    background: red;
    color: white;
}

.timeline-object__chunk-manipulator {
    width: 10px;
    height: 50px;
    position: absolute;
    top: 0;

    z-index: 100;
    background: orange;
}

.timeline-object__chunk-manipulator--start {
    left: -10px;
    border-right: solid 5px black;
    opacity: 0.5;
}

.timeline-object__chunk-manipulator--end {
    right: -10px;
    border-left: solid 5px black;
    opacity: 0.5;
}

.timeline-object__chunk-manipulator--start:hover {
    cursor: pointer;
}

.timeline-object__chunk-manipulator--end:hover {
    cursor: pointer;
}

#timeline-scale {
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;

    overflow: hidden;
    pointer-events: none;
}

.timeline-scale__middle-line {
    height: 2px;
    width: 100%;

    position: relative;
    top: 70px;

    background: white;
}

.timeline-scale__display-line {
    height: 100%;

    border-left: 2px solid white;

    position: absolute;
    display: inline-block;
}

.timeline-scale__display-time {
    position: relative;
    top: 50px;
}

.timeline-menu__wrapper {
    padding: 10px 20px;
}

.timeline-chunk--focus {
    background: blue;
    /*border: 2px solid blue;*/
}

.timeline-chunk--mute {
    background: darkgrey;
}

.timeline-chunk--clone {
    width: 50px;
    height: 50px;

    background: red;
    border: 2px solid black;
    opacity: 0.5;

    position: absolute;
}