.timeline-area {
    height: 300px;

    background: lightgreen;
}

.dropable {
    height: 100px;
    overflow-x: scroll;
    background: black;
}

.timeline-junk__wrap {
    height: 80px;

    position: relative;
    background: grey;
}

.timeline-junk {
    width: 100px;
    height: 50px;

    display: inline-block;
    position: absolute;

    background: red;
    border-left: solid 5px black;
    border-right: solid 5px white;
    color: white;
}