<div class="content-area__wrapper">
    <div class="content-area__menu">
        <div class="content-area__menu__list">
            <input id="url__input__field" class="content-area__menu__list__element" type="text" value="http://corrupt-system.de/assets/media/bigbugbunny/bbb_trailer.m4v" placeholder="enter URL...">
            <span class="content-area__menu__list__element" data-ng-click="addContentMaterial()">add</span>
            <span class="content-area__menu__list__element" data-ng-click="saveContentMaterial()">save</span>
            <span class="content-area__menu__list__element" data-ng-click="loadContentMaterial()">load</span>
        </div>
    </div>
    <div class="content-area__materials">
        <div class="content-area__materials__list">
            <div class="content-area__materials__list__element">
                <mv-material data-ng-repeat="(contentObjectKey, material) in ContentCtrl.contentObjects"
                             material-object="material" content-object-key="contentObjectKey"></mv-material>
            </div>
        </div>
    </div>
</div>