<div class="content-area__wrapper" >
    <div class="content-area__menu">
        <div class="content-area__menu-wrapper">
            <div class="content-area__menu--left">
                <input id="url__input__field" class="content-area__menu__list__element" type="text" value="http://corrupt-system.de/assets/media/bigbugbunny/bbb_trailer.m4v" placeholder="enter URL...">
                <button class="content-area__menu__list__element content-area__menu-button" data-ng-click="addContentMaterial()">add</button>
                <button class="content-area__menu__list__element content-area__menu-button" data-ng-click="saveContentMaterial()">save</button>
                <div class="load-file__wrapper">
                    <button class="content-area__menu__list__element content-area__menu-button" data-ng-click="loadContentMaterial()">load</button>
                    <input name="loadfile" class="load-file__input" type="file" on-read-file/>
                </div>
            </div>
            <div class="content-area__menu--right">
                <button class="content-area__menu__list__element content-area__menu-button" data-ng-click="sendStitching()">send</button>
                <button class="content-area__menu__list__element content-area__menu-button" data-ng-click="receive()">receice</button>
            </div>
        </div>
    </div>
    <div class="content-area__materials" hm-tap="contentTap()">
        <div class="content-area__materials__list">
            <div class="content-area__materials__list__element">
                <mv-material data-ng-repeat="(contentObjectKey, material) in contentService.contentList"
                             material-object="material" content-object-key="contentObjectKey"></mv-material>
            </div>
        </div>
    </div>

    <div id="content-trash" class="content-trash">
        <div class="content-trash__icon">
            trash
        </div>
    </div>
</div>