<div class="content-area__wrapper">
    <div class="content-area__menu">
        <div class="content-area__menu__list">
            <span class="content-area__menu__list__element" data-ng-click="click('add')">add</span>
            <span class="content-area__menu__list__element" data-ng-click="click('load')">load</span>
        </div>
    </div>

    <div class="content-area__materials">
        <div class="content-area__materials__list">
            <div class="content-area__materials__list__element">
                <mv-material></mv-material>
            </div>
        </div>
    </div>
</div>