<div class="mv-materia">
    <div class="mv-material__content mv-material__content--video" hm-tap="hammerTap($event)"
         hm-doubletap="panDoubletap($event)" hm-panmove="hammerPanMove($event)" hm-panstart="panStart($event)"
         hm-panend="panEnd($event)">
        <span class="mv-material__meta mv-material__meta--active">*{{ materialObject.active }}</span>
        <div class="mv-material__meta-wrapper">
            <span class="mv-material__meta"><span class="mv-material__meta--length" data-ng-if="materialObject.type != 'image'">{{ materialObject.length | number: 2 }}</span></span>
            <span class="mv-material__meta mv-material__meta--type">
                <img class="material_type_indicator" ng-if="materialObject.type == 'video'" src="./images/video_icon.png">
                <img class="material_type_indicator" ng-if="materialObject.type == 'audio'" src="./images/audio_icon.png">
                <img class="material_type_indicator" ng-if="materialObject.type == 'image'" src="./images/image_icon.png">
            </span>
        </div>
        <input class="material_type_indicator--input" ng-model="materialObject.name">
    </div>
</div>