<div class="preview-area__wrapper">
    <div class="preview_player">
	    <div id="active_media">
	    	<img src="" id="image_0" style="z-index: -1;">
	    	<audio src="" id="audio_0" style="z-index: -1;"></audio>
	    </div>
		<div id="preview_range_slider"></div>
		<input id="position_slider" type="range" ng-model="pos" ng-change="jumpToPosition(pos)" onfocus="this.blur();"/>
	    <table>
	        <tbody>
	            <tr>
	                <td>
	                	<div id="time_display"></div>
	                </td>
	                <td>
	                    <input id="goToStart_button" class="mv__button" type="button" value="<<" data-ng-click="goToStart()" onfocus="this.blur();"/>
	                </td>
	                <td>
	                    <input id="play_button" class="mv__button" type="button" value="play" data-ng-click="play()" onfocus="this.blur();"/>
	                </td>
	                <td>
	                    <input id="pause_button" class="mv__button" type="button" value="pause" data-ng-click="pause()" onfocus="this.blur();"/>
	                </td>
	                <td>
	                	<input id="volume_slider" class="mv__button" type="range" value="1" max="1" step="0.01" ng-model="vol" ng-change="setVolume(vol)" onfocus="this.blur();"/>
	                </td>
	                <td>
						<label class="preview-player__loop" data-ng-class="{'preview-player__loop--active': loop}">Loop:
							<span data-ng-if="loop">ON</span>
							<span data-ng-if="!loop">OFF</span>
							<input id="loop_button" type="checkbox" name="loop" ng-model="loop" data-ng-click="setLoop()" onfocus="this.blur();"/></label>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>
</div>