<div class="timeline-area__wrapper">
    <h1>timeline</h1>
    <div id="timelineDropArea" class="dropable" hm-tap="tap($event)">
        <div class="timeline-chunk__wrap" style="width: {{timelineService.timelineWidth}}px;">
            <!--timelineWidth: {{timelineService.timelineWidth}}-->
            <div class="timeline-chunk" data-ng-repeat="chunks in timelineService.timelineList" style="left: {{chunks.start * timelineService.pixelPerSeconds}}px; width: {{(chunks.end - chunks.start) * timelineService.pixelPerSeconds}}px;">
                ID: {{chunks.objectListId}}
            </div>
        </div>

        <div id="timeline-scale" style="width: {{timelineService.timelineWidth}}px;">
            <div class="timeline-scale__middle-line">

            </div>

            <div class="timeline-scale__display-wrapper">
                <span class="timeline-scale__display-line" data-ng-repeat="scale in timelineService.scales" style="left: {{scale.position}}px; width: {{10 * timelineService.pixelPerSeconds}}px">
                    <!--scale: {{scale}}-->
                    <div class="timeline-scale__display-time">
                        {{scale.display}}
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>