<div class="timeline-area__wrapper">
    <h1>timeline</h1>
    <div id="timelineDropArea" class="dropable" hm-tap="tap($event)">
        <div class="timeline-chunk__wrap" style="width: {{timelineService.timelineWidth}}px;">
            <!--timelineWidth: {{timelineService.timelineWidth}}-->
            <div class="timeline-chunk" data-ng-repeat="chunks in TimelineCtrl.timelineList" style="left: {{chunks.start}}px; width: {{chunks.length}}px;">
                ID: {{chunks.objectListId}}
            </div>
        </div>

        <div id="timeline-scale" style="width: {{timelineService.timelineWidth}}px;">
            <div class="timeline-scale__middle-line">

            </div>

            <div class="timeline-scale__time-wrapper">
                <div class="timeline-scale__time-display">

                </div>
            </div>
        </div>
    </div>
</div>