<div class="timeline-area__wrapper">
    <div class="timeline-menu__wrapper">
        <button class="timeline-menu__element mv__button" data-ng-click="swapWithPreviousObject()">swap <-- </button>
        <button class="timeline-menu__element mv__button" data-ng-click="swapWithNextObject()">swap --> </button>
        <button class="timeline-menu__element mv__button" data-ng-click="muteChunk(key)">mute</button>
        <button class="timeline-menu__element mv__button" data-ng-click="deleteChunk(key)">delete</button>
        <button class="timeline-menu__element mv__button" data-ng-class="{'timeline-menu__element--cut': isCutActive}" data-ng-click="activateCuttingMode()">cut</button>
        <button class="timeline-menu__element mv__button" data-ng-click="zoomOut()">zoom out</button>
        <button class="timeline-menu__element mv__button" data-ng-click="zoomReset()">zoom reset</button>
        <button class="timeline-menu__element mv__button" data-ng-click="zoomIn()">zoom in</button>
        <button class="timeline-menu__element mv__button" data-ng-click="undo()">undo</button>
        <button class="timeline-menu__element mv__button" data-ng-click="redo()">redo</button>
    </div>
    <div id="timelineDropArea" class="dropable" hm-tap="tap($event)">
        <div class="timeline-object__wrap" style="width: {{timelineService.timelineWidth}}px;">
            <!--timelineWidth: {{timelineService.timelineWidth}}-->
            <div class="timeline-object__chunk timeline-object__chunk--video"
                 hm-tap="chunkTap($event, key, 'video')"
                 hm-panstart="panStart($event, key, 'video')"
                 hm-panmove="hammerPanMove($event, key, 'video')"
                 hm-panend="panEnd($event, key)"
                 data-ng-class="{'timeline-object__chunk--cut': isCutActive && key == TimelineCtrl.focus}"
                 style="left: {{chunks.start * timelineService.pixelPerSeconds}}px;"
                 data-ng-repeat="(key, chunks) in timelineService.timelineList.video">
                <div class="timeline-object__chunk-content"
                     style="width: {{(chunks.end - chunks.start) * timelineService.pixelPerSeconds}}px;"
                     data-ng-class="{'timeline-chunk--focus': key == TimelineCtrl.focus.key && TimelineCtrl.focus.type == 'video', 'timeline-chunk--mute': chunks.mute}">
                    <!--ID: {{chunks.objectListId + ' || ' + key}}-->
                </div>

                <div class="timeline-object__chunk-manipulator timeline-object__chunk-manipulator--start"
                     data-ng-if="key == TimelineCtrl.focus.key && TimelineCtrl.focus.type == 'video' && TimelineCtrl.shorten == true"
                     hm-panstart="dragStartShortenStart($event, key)"
                     hm-panmove="dragStartShortenMove($event, key, 'video')"
                     hm-panend="dragStartShortenEnd($event, key)"></div>

                <div class="timeline-object__chunk-manipulator timeline-object__chunk-manipulator--end"
                     data-ng-if="key == TimelineCtrl.focus.key && TimelineCtrl.focus.type == 'video' && TimelineCtrl.shorten == true"
                     hm-panstart="dragEndShortenStart($event, key)"
                     hm-panmove="dragEndShortenMove($event, key, 'video')"
                     hm-panend="dragEndShortenEnd($event, key)"></div>
            </div>

            <div class="timeline-object__chunk timeline-object__chunk--audio"
                 hm-tap="chunkTap($event, key, 'audio')"
                 hm-panstart="panStart($event, key, 'audio')"
                 hm-panmove="hammerPanMove($event, key, 'audio')"
                 hm-panend="panEnd($event, key)"
                 data-ng-class="{'timeline-object__chunk--cut': isCutActive && key == TimelineCtrl.focus}"
                 style="left: {{chunks.start * timelineService.pixelPerSeconds}}px;"
                 data-ng-repeat="(key, chunks) in timelineService.timelineList.audio">
                <div class="timeline-object__chunk-content"
                     style="width: {{(chunks.end - chunks.start) * timelineService.pixelPerSeconds}}px;"
                     data-ng-class="{'timeline-chunk--focus': key == TimelineCtrl.focus.key && TimelineCtrl.focus.type == 'audio', 'timeline-chunk--mute': chunks.mute}">
                    <!--ID: {{chunks.objectListId + ' || ' + key}}-->
                </div>

                <div class="timeline-object__chunk-manipulator timeline-object__chunk-manipulator--start"
                     data-ng-if="key == TimelineCtrl.focus.key && TimelineCtrl.focus.type == 'audio' && TimelineCtrl.shorten == true"
                     hm-panstart="dragStartShortenStart($event, key)"
                     hm-panmove="dragStartShortenMove($event, key, 'audio')"
                     hm-panend="dragStartShortenEnd($event, key)"></div>

                <div class="timeline-object__chunk-manipulator timeline-object__chunk-manipulator--end"
                     data-ng-if="key == TimelineCtrl.focus.key && TimelineCtrl.focus.type == 'audio' && TimelineCtrl.shorten == true"
                     hm-panstart="dragEndShortenStart($event, key)"
                     hm-panmove="dragEndShortenMove($event, key, 'audio')"
                     hm-panend="dragEndShortenEnd($event, key)"></div>
            </div>
        </div>

        <div id="timeline-scale" style="width: {{timelineService.timelineWidth}}px;">
            <div class="timeline-scale__middle-line">

            </div>

            <div class="timeline-scale__display-wrapper">
                <span class="timeline-scale__display-line" data-ng-repeat="scale in timelineService.scales" style="left: {{scale.position}}px; width: {{timelineService.scaleSteps * timelineService.pixelPerSeconds}}px">
                    <!--scale: {{scale}}-->
                    <div class="timeline-scale__display-time">
                        {{scale.display}} s
                    </div>
                </span>
            </div>
            <div id="position_pointer">
            </div>
            <div id="range_pointer_a" class="range_pointer">
            </div>
            <div id="range_pointer_b" class="range_pointer">
            </div>
        </div>

    </div>

    <div class="chunk-meta__wrapper" data-ng-if="TimelineCtrl.focus.key !== null && TimelineCtrl.focus.type === 'video'">
        <table class="chunk-meta__table">
            <tr>
                <th class="chunk-meta__chunk-values">chunk values</th>
                <td class="chunk-meta__chunk-values chunk-meta__chunk-values--name">name: <input class="chunk-meta__name-input" ng-model="timelineService.timelineList.video[TimelineCtrl.focus.key].name"/></td>
                <td class="chunk-meta__chunk-values chunk-meta__chunk-values--start">start: {{ timelineService.timelineList.video[TimelineCtrl.focus.key].start | number: 2 }} s</td>
                <td class="chunk-meta__chunk-values chunk-meta__chunk-values--end">end: {{ timelineService.timelineList.video[TimelineCtrl.focus.key].end | number: 2 }} s</td>
                <td class="chunk-meta__chunk-values chunk-meta__chunk-values--length">chunk length: {{ timelineService.timelineList.video[TimelineCtrl.focus.key].end -  timelineService.timelineList.video[TimelineCtrl.focus.key].start | number: 2 }} s</td>
                <td class="chunk-meta__chunk-values chunk-meta__chunk-values--offset"><span data-ng-if="contentService.getContentList()[timelineService.timelineList.video[TimelineCtrl.focus.key].objectListId].type != 'image'">offset: {{ timelineService.timelineList.video[TimelineCtrl.focus.key].offset | number: 2 }} s</span></td>
                <td class="chunk-meta__chunk-values chunk-meta__chunk-values--mute"><span data-ng-if="contentService.getContentList()[timelineService.timelineList.video[TimelineCtrl.focus.key].objectListId].type != 'image'">mute: {{ timelineService.timelineList.video[TimelineCtrl.focus.key].mute }}</span></td>
            </tr>
            <tr>
                <th class="chunk-meta__material-values">material values</th>
                <td class="chunk-meta__material-values chunk-meta__material-values--name">name: <input class="chunk-meta__name-input" ng-model="contentService.getContentList()[timelineService.timelineList.video[TimelineCtrl.focus.key].objectListId].name" readonly=""/></td>
                <td class="chunk-meta__material-values chunk-meta__material-values--url">url: <input type="text" value="{{ contentService.contentList[timelineService.timelineList.video[TimelineCtrl.focus.key].objectListId].url }}" readonly=""></td>
                <td class="chunk-meta__material-values chunk-meta__material-values--type">type: {{ contentService.getContentList()[timelineService.timelineList.video[TimelineCtrl.focus.key].objectListId].type }}</td>
                <td class="chunk-meta__material-values chunk-meta__material-values--length"><span data-ng-if="contentService.getContentList()[timelineService.timelineList.video[TimelineCtrl.focus.key].objectListId].type != 'image'">original length: {{ contentService.getContentList()[timelineService.timelineList.video[TimelineCtrl.focus.key].objectListId].length | number: 2 }} s</span></td>
            </tr>
            <tr>
            </tr>
        </table>
    </div>

    <div class="chunk-meta__wrapper" data-ng-if="TimelineCtrl.focus.key !== null && TimelineCtrl.focus.type === 'audio'">
        <table class="chunk-meta__table">
            <tr>
                <th class="chunk-meta__chunk-values">chunk values</th>
                <td class="chunk-meta__chunk-values chunk-meta__chunk-values--name">name: <input class="chunk-meta__name-input" ng-model="timelineService.timelineList.audio[TimelineCtrl.focus.key].name"/></td>
                <td class="chunk-meta__chunk-values chunk-meta__chunk-values--start">start: {{ timelineService.timelineList.audio[TimelineCtrl.focus.key].start | number: 2 }} s</td>
                <td class="chunk-meta__chunk-values chunk-meta__chunk-values--end">end: {{ timelineService.timelineList.audio[TimelineCtrl.focus.key].end | number: 2 }} s</td>
                <td class="chunk-meta__chunk-values chunk-meta__chunk-values--length">chunk length: {{ timelineService.timelineList.audio[TimelineCtrl.focus.key].end -  timelineService.timelineList.audio[TimelineCtrl.focus.key].start | number: 2 }} s</td>
                <td class="chunk-meta__chunk-values chunk-meta__chunk-values--offset">offset: {{ timelineService.timelineList.audio[TimelineCtrl.focus.key].offset | number: 2 }} s</td>
                <td class="chunk-meta__chunk-values chunk-meta__chunk-values--mute">mute: {{ timelineService.timelineList.audio[TimelineCtrl.focus.key].mute }}</td>
            </tr>
            <tr>
                <th class="chunk-meta__material-values">material values</th>
                <td class="chunk-meta__material-values chunk-meta__material-values--name">name: <input class="chunk-meta__name-input" ng-model="contentService.getContentList()[timelineService.timelineList.audio[TimelineCtrl.focus.key].objectListId].name" readonly=""/></td>
                <td class="chunk-meta__material-values chunk-meta__material-values--url">url: <input type="text" value="{{ contentService.contentList[timelineService.timelineList.audio[TimelineCtrl.focus.key].objectListId].url }}" readonly=""></td>
                <td class="chunk-meta__material-values chunk-meta__material-values--type">type: {{ contentService.getContentList()[timelineService.timelineList.audio[TimelineCtrl.focus.key].objectListId].type }}</td>
                <td class="chunk-meta__material-values chunk-meta__material-values--length">original length: {{ contentService.getContentList()[timelineService.timelineList.audio[TimelineCtrl.focus.key].objectListId].length | number: 2 }} s</td>
            </tr>
            <tr>
            </tr>
        </table>
    </div>
</div>